{{#each this}}
  
<div class="country">
  <h2 class="country__name">{{name}}</h2>
  
  <div class="country__descr">
    <div class="country__info">
      <p class="country__capital"><b>Capital:</b> {{capital}}</p>
      <p class="country__population"><b>Population:</b> {{population}}</p>
      <p class="country__languages"><b>Languages:</b></p>
      <ul class="country__languages-list">
        {{#each languages}}
        <li class="country__languages-item">{{name}}</li>
        {{/each}}
      </ul>
    </div>
  
    <div class="img__wrapper">
      <img src="{{flag}}" alt="{{name}}" class="country__flag" width="400">
    </div>
  </div>

</div>
{{/each}}